aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.10.3
asn1crypto==1.4.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==22.1.0
audioread==3.0.1
Automat==22.10.0
banks==2.1.2
bcrypt==3.2.0
beautifulsoup4==4.8.2
black==21.7b0
blinker==1.6.2
Brlapi==0.8.3
cachetools==6.2.1
certifi==2025.8.3
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.2.1
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
compressed-rtf==1.0.7
configobj==5.0.6
constantly==15.1.0
coverage==6.5.0
cryptography==41.0.3
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dataclasses-json==0.6.7
datasets==2.20.0
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
defer==1.0.6
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.2.1
docker==6.0.1
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docstring-parser==0.14.1
docx2txt==0.9
duplicity==0.8.21
ebcdic==1.1.1
ecdsa==0.18.0
elastic-transport==8.4.0
elasticsearch==8.9.0
email-validator==1.3.0
et-xmlfile==1.1.0
exceptiongroup==1.3.0
execnet==1.9.0
executing==2.0.1
extract-msg==0.28.7
fabric==2.7.1
fastapi==0.85.1
fasteners==0.14.1
filelock==3.8.0
filetype==1.2.0
Flask==2.3.2
fonttools==4.33.3
frozenlist==1.4.1
fsspec==2024.5.0
func-timeout==4.3.5
future==0.18.2
google-auth==2.42.0
google-genai==1.46.0
greenlet==1.1.3
griffe==1.7.3
gyp==0.1
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.5.0
httpx==0.28.1
huggingface-hub==0.24.0
hyperlink==21.0.0
idna==3.10
IMAPClient==2.1.0
importlib-metadata==4.6.4
incremental==22.10.0
iniconfig==1.1.1
invoke==1.7.3
ipykernel==6.29.4
ipython==8.25.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.2
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
jose==1.0.0
json5==0.9.14
jsonschema==3.2.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jwt==1.3.1
keyring==23.5.0
kiwisolver==1.4.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
librosa==0.11.0
linkedin-api @ git+https://github.com/tomquirk/linkedin-api.git@e66bb5e217ab3383f4c2a6a25f8cd793b5b20b61
linkedin-jobs-scraper==2.1.1
linkedin-scraper==2.11.2
llama-cloud==0.1.23
llama-cloud-services==0.6.30
llama-index==0.12.41
llama-index-agent-openai==0.4.9
llama-index-cli==0.4.3
llama-index-core==0.12.41
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.7.4
llama-index-llms-openai==0.4.4
llama-index-multi-modal-llms-openai==0.5.1
llama-index-program-openai==0.3.2
llama-index-question-gen-openai==0.3.1
llama-index-readers-file==0.4.9
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.30
llvmlite==0.44.0
lockfile==0.12.2
louis==3.20.0
lxml==4.9.3
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.1.1
marshmallow==3.26.1
matplotlib==3.5.2
matplotlib-inline==0.1.7
mechanize==0.4.7
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.4
multidict==6.0.5
multiprocess==0.70.16
mypy==0.910
mypy-extensions==0.4.3
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==1.24.4
oauthlib==3.2.0
olefile==0.46
openai==1.84.0
openpyxl==3.1.2
orjson==3.8.0
packaging==21.3
pandas==1.4.2
paramiko==2.9.3
parsel==1.8.1
parso==0.8.4
passlib==1.7.4
pathlib2==2.3.7.post1
pathspec==0.11.0
pdfminer.six==20191110
pexpect==4.8.0
Pillow==9.0.1
platformdirs==4.3.8
pluggy==1.0.0
pony==0.7.16
pooch==1.8.2
prompt_toolkit==3.0.46
Protego==0.2.1
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-algorand-sdk==1.8.0
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycairo==1.20.1
pycparser==2.21
pycryptodome==3.23.0
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==2.11.5
pydantic_core==2.33.2
PyDispatcher==2.0.7
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
pymongo==4.4.1
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
pypdf==5.6.0
PyPDF2==1.28.2
pyRFC3339==1.1
pyrsistent==0.19.2
pyteal==0.9.1
pytest==7.1.3
pytest-asyncio==0.20.1
pytest-cov==4.0.0
pytest-env==0.6.2
pytest-xdist==3.0.2
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.0
python-jose==3.3.0
python-multipart==0.0.5
python-pptx==0.6.23
python-telegram-bot==22.5
pytz==2022.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0.2
pyzmq==26.0.3
queuelib==1.6.2
randimage==1.2
random-username==1.0.2
regex==2022.10.31
reportlab==3.6.8
requests==2.32.3
requests-file==1.5.1
rsa==4.9
safetensors==0.4.3
schedule==1.1.0
scikit-learn==1.5.0
scipy==1.8.1
scrapeops-scrapy==0.5.2
scrapeops-scrapy-proxy-sdk==1.0
Scrapy==2.9.0
scrapy-inline-requests==0.3.1
seaborn==0.11.2
SecretStorage==3.3.1
selenium==3.141.0
semantic-version==2.10.0
service-identity==23.1.0
six==1.12.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.4.1
soxr==0.5.0.post1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.20.4
striprtf==0.0.26
systemd-python==234
tablib==3.5.0
tenacity==9.1.2
terminator==2.1.1
textract==1.6.5
texttable==1.6.7
threadpoolctl==3.5.0
tiktoken==0.9.0
timeout-decorator==0.5.0
tld==0.13
tldextract==3.4.4
tokenizers==0.19.1
toml==0.10.2
tomli==1.2.3
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.4
Twisted==22.10.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzlocal==5.3.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ujson==5.5.0
unattended-upgrades==0.1
urllib3==1.26.16
usb-creator==0.3.7
uvicorn==0.18.3
uvloop==0.17.0
validate-email-address==1
vboxapi==1.0
virtualenv==20.16.5
w3lib==2.1.1
wadllib==1.3.6
watchfiles==0.17.0
wcwidth==0.2.13
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==0.59.0
websockets==15.0.1
Werkzeug==2.3.7
wrapt==1.17.2
xdg==5
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.1.2
xxhash==3.4.1
yarl==1.9.4
youtube-dl==2021.12.17
zipp==1.0.0
zope.interface==6.0
